body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 3rem;
}

ul {
  text-align: left;
  margin-left: 40%;
}

#taskInput {
  min-width: 20%;
}

/* link */
a:link {
  color: pink;
}

a:visited {
  color: green;
}


/* PCの全画面の場合 */
@media (min-width: 100em) {
  body {
    background-color: yellow;
  }

  #taskInput {
    transform: rotate(0.5turn);
  }

  a:hover {
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    text-decoration: none;
  }
}

